* {
  font-family: verdana;
}
body {
  background-color: #fff;
  font-size: 1em;
}
pre {
  border: 5px solid #020;
  border-left: 5px solid #0f0;
  padding: 10px;
  background-color: #020;
  color: #0f0;
  line-height: 1.5em;
  overflow: scroll;
}
.content {
  margin: 10px 0;
  padding: 10px;
  border: 1px dotted black;
}
section {
  border-bottom: 1px solid black;
  padding: 20px;
}
